#  1.4. Estructuras de datos: Lists y Tuples.

- Ambas son estructuras para almacenar objetos.

## Lists

- Las listas son la estructura más usada porque nos permite almacenar cualquier objeto (el core de python no tiene vectores, matrices ni dataframes como R).
- Secuencia de datos separados por coma entre corchetes.
- Se puede acceder a los datos a partir de un índice.
- Se declaran con 'list' o '[]'.

In [1]:
a = []

In [2]:
type(a)

list

In [3]:
a = list()

In [4]:
type(a)

list

- Se puede asignar directamente los datos:

In [5]:
x = ['apple', 'orange']

In [6]:
x

['apple', 'orange']

X es un objeto de la clase lista que dentro tiene dos objetos de la clase string

### Indexing

- El índice empieza con 0 como en los strings.

In [7]:
x[0]

'apple'

In [8]:
x[1]

'orange'

- Puede accederse en orden inverso
- El último elemento se puede acceder el primero.

In [9]:
x[-1]

'orange'

In [10]:
x[-2]

'apple'

- Observa que: x[0] = x[-2], x[1] = x[-1].
- Este comportamiento es válido para todos los elementos.

- Las listas pueden tener otras listas dento. A este concepto se le denomina: *nested lists*
- Esta manera es como declararemos arrays en numpy.

In [11]:
y = ['carrot','potato']

In [12]:
z  = [x, y]
print(z)

[['apple', 'orange'], ['carrot', 'potato']]

- Indexing en nested lists puede ser confuso.
- En la primera lista, índice 0, tenemos x: ['apple','orange']  y en la segunda, índice 1 tenemos y: ['carrot','potato'].

In [13]:
z

[['apple', 'orange'], ['carrot', 'potato']]

In [14]:
z[1]

['carrot', 'potato']

In [15]:
z[0][1]

'orange'

In [16]:
print(z[0][1])

orange

In [17]:
print(z[1][1])

potato

- Las listas no tienen por que ser homogeneas.
- Cada elemento puede ser de un tipo diferente, En el ejemplo siguiente encontramos un string, integer, float, N complejo y una lista.

In [18]:
lista = ["this is a valid list", 2, 3.6, (1+2j), ["a", "sublist"]]
lista

['this is a valid list', 2, 3.6, (1+2j), ['a', 'sublist']]

- La forma correcta de partir las listas según PEP8 es la siguinte:

In [19]:
lista = [
    "this is a valid list",
    2,
    3.6,
    (1+2j), 
    ["a", "sublist"],
]

In [20]:
lista

['this is a valid list', 2, 3.6, (1+2j), ['a', 'sublist']]

### Slicing

- Slicing permite acceder a una sequencia de datos del interior de la lista.
- Se realiza definiendo el índice del primer y el último elemento que requerimos.
- Se escribe de la siguiente manera: [ a : b ], donde a y b son los índices del primer y último (sin incluir) que queremos extraer.
- Si no se definen a o b, se considera el primero y el último.

In [22]:
num = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(num[0:4])
print(num[4:])

[1, 2, 3, 4]
[5, 6, 7, 8, 9, 10]

- Se puede incluir un tercer parámetro [a:b:step] para ir extrayendo los elementos con saltos de longitud step.

In [23]:
num[1:9:3]

[2, 5, 8]

### Unpacking
- Podemos sacar los objetos de dentro de la lista a variables individualmente.
- A esta operación se la denomina *unpacking*

In [24]:
a, b, c = [1, 2, 3]

In [25]:
print(a, b, c)

1 2 3

Se usa mucho cuando una función nos devuelve varios resultados, para recoger cada uno de ellos en una variable independiente.

### Range function
- La función **range()** sirve para generar listas de números enteros.
* range(n) =  0, 1, ..., n-1     Desde 0 hasta n-1
* range(m,n)= m, m+1, ..., n-1   Desde m hasta n-1
* range(m,n,s)= m, m+s, m+2s, ..., m + ((n-m-1)//s) * s   Desde m hasta n-1 de s en s

```python
<range> = range(to_exclusive)
<range> = range(from_inclusive, to_exclusive)
<range> = range(from_inclusive, to_exclusive, ±step_size)
```

In [27]:
range(10) # Indica el rango, pero no lo instancia en la memoria para no ocupar espacio

range(0, 10)

In [28]:
list(range(10)) # Si lo convertimos a una lista, se instancia en la memoria, llamando al iterador hasta completar el rango indicado

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
list(range(2, 10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
list(range(3, 10, 3))

[3, 6, 9]

### Built in List Functions


|Métodos de las listas|Notas|
|---|----|
|```<list> = <list>[from_inclusive : to_exclusive : ±step_size]```|     # Indexación |
|```<list>.append(<el>)```      |      # Añade un elemento|
|```<list>.extend(<collection>)```|    # Une dos listas sin crear una nested list|
|```<list>.sort()```|     # Ordena de manera ascendente| 
|```<list>.reverse()```|     # Invierte el orden de los elementos |
|```<list> = sorted(<collection>)```|     # Devuelve una copia ordenada|
|```<iter> = reversed(<list>)```|     # Devuelve una copia invertida|
|```sum_of_elements  = sum(<collection>)```|     # Suma los elementos cuando son numéricos|
|```index = <list>.index(<el>)```|     # Devuelve el índice del elemento en la lista.|
|```<list>.insert(index, <el>)```|     # Inserta un elemento y mueve el resto a la derecha.|
|```<el> = <list>.pop([index])```|     # Devuelve el último elemento de la lista y lo borra.|
|```<list>.remove(<el>)```|       # Borra la primera coincidencia o eleva un error.|
|```<list>.clear()```|                 # Borra todos los elementos.|

- **len(x)** Sirve para obtener el número de elementos en la lista.

In [31]:
num = list(range(0, 10))

In [32]:
len(num)

10

- Si la lista está compuesta de números enteros:
 - **min( )** y **max( )** devuelve el máximo y mínimo valor.
 - **sum** suma todos los elementos.

In [33]:
print("min =", min(num),"  max =", max(num), "  total =", sum(num))

min = 0   max = 9   total = 45

- Las listas se pueden concatenar con '+'.
- Otra opción para concatenar, sería utilizar el operador *unpacking* [*list_1, *list_2]. El * saca todos los elementos de la lista y los pone uno detras de otro.
- El resultado no es una *nested list* (lista de listas)

In [34]:
[1, 2, 3] + [5, 4, 7]

[1, 2, 3, 5, 4, 7]

In [35]:
a = [1, 2, 3]
b = [5, 4, [7, 2]]
[*a, *b]

[1, 2, 3, 5, 4, [7, 2]]

Si no indicamos el * sí que obtendríamos una lista de listas

In [36]:
[a, b]

[[1, 2, 3], [5, 4, [7, 2]]]

- Para saber si un elemento está en una lista podemos usar el operador **in**.

In [37]:
names = ['Earth', 'Air', 'Fire', 'Water']

In [38]:
'Fire' in names

True

In [39]:
'Space' in names

False

- Si la lista es de string.
 - **max(list)** y **min(list)** devuelve el primer y último elemento en orden léxico (por valor ASCII)

In [40]:
mlist = ['bzaa', 'ds', 'nc', 'az', 'z', 'klm', 'zz']
print("max =", max(mlist))
print("min =", min(mlist))

max = zz
min = az

- Cuidado si los números son strings

In [41]:
nlist = ['1', '94', '93', '1000']
print("max =", max(nlist))
print('min =', min(nlist))

max = 94
min = 1

- **max(list, key=fun)**  tiene un parámetro key, donde podemos especificar una función que altere el comportamiento
- Para encontra el elemento más largo podemos usar `len`.

In [42]:
print(mlist)
print('longest =', max(mlist, key=len))
print('shortest =', min(mlist, key=len))

['bzaa', 'ds', 'nc', 'az', 'z', 'klm', 'zz']
longest = bzaa
shortest = z

- **list.sort()** ordena la lista de manera ascendente.
- **list.sort(reverse=True)** ordena la lista de manera descendente.
- **list.sort(key=fun)** se puede pasar una función para ordenar.
- IMPORTANTE: La operación es *inplace*,  la función no devuelve nada, la lista se ordena internamente.
- Para obtener una COPIA ordenanda usar **sorted(list)**, también con parámetros **key** y **reverse**.

In [44]:
mlist.sort()

In [45]:
mlist

['az', 'bzaa', 'ds', 'klm', 'nc', 'z', 'zz']

In [46]:
mlist.sort(reverse=True)
print(mlist)

['zz', 'z', 'nc', 'klm', 'ds', 'bzaa', 'az']

In [47]:
mlist.sort(key=len)
print(mlist)

['z', 'zz', 'nc', 'ds', 'az', 'klm', 'bzaa']

In [48]:
lista_a = [3, 2, 1]
lista_b = sorted(lista_a)
print(f"{lista_a} {lista_b}")

[3, 2, 1] [1, 2, 3]

- Para listas que contienen strings  **sort( )** ordena los elementos de forma ascendente por valor ASCII.

In [49]:
names = ['Air', 'Earth', 'Fire', 'Water']

In [50]:
names.sort()
print(names)

['Air', 'Earth', 'Fire', 'Water']

In [51]:
names.sort(reverse=True)
print(names)

['Water', 'Fire', 'Earth', 'Air']

In [52]:
names.sort(key=len)
print(names)

['Air', 'Fire', 'Water', 'Earth']

In [53]:
print(sorted(names, key=len, reverse=True))

['Water', 'Earth', 'Fire', 'Air']

- Un string se puede convertir a una lista usando el operador **list()**
- El método de la clase string **string.split()**, da una lista con los string separados por espacio o con el separador que se le pase: **string.split(sep)**

In [54]:
list('hello world !')

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd', ' ', '!']

In [55]:
'Hello   World !!'.split()

['Hello', 'World', '!!']

In [56]:
'Hello   World !!'.split('l')

['He', '', 'o   Wor', 'd !!']

- **list.append(list)** para añadir un elemento al final de la lista.

In [57]:
lst = [1, 1, 4, 8, 7]
lst.append(1)
print(lst)

[1, 1, 4, 8, 7, 1]

- Añadir una lista a otra con *append* crea una nested list.
- Para evitar este comportamiente usar  **list.extend(list)**

In [59]:
list_1 = [1, 1, 4, 8, 7]
list_2 = [10, 11, 12]

In [60]:
list_1.append(list_2)

In [61]:
list_1

[1, 1, 4, 8, 7, [10, 11, 12]]

In [62]:
list_1 = [1, 1, 4, 8, 7]
list_2 = [10, 11, 12]

In [63]:
list_1.extend(list_2)

In [64]:
list_1

[1, 1, 4, 8, 7, 10, 11, 12]

- **count(list_1)** cuenta el número de veces que el elementos aparece en la lista.

In [65]:
list_1

[1, 1, 4, 8, 7, 10, 11, 12]

In [66]:
list_1.count(1)

2

- **list.index(val)** se usa para encontrar el índice del elemento **val** en la lista.
- Si hay múltiples elementos con el mismo valor da el índice del primero.

In [67]:
lst.index(1)

0

- **list.insert(pos, ele)** inserta un elemento, **ele** en la posición **pos**.
- **list.append(ele)** es equivalente a  **list.insert(len(list), ele)** coloca el nuevo elemento al final

In [68]:
lst.insert(5, 'name')
print(lst)

[1, 1, 4, 8, 7, 'name', 1]

- **list.insert(pos, ele)** no remplaza el elemento existente. Los mueve todos a la derecha
- Para remplazar **list[pos] = ele**

In [69]:
lst[5] = 'Python'
print(lst)

[1, 1, 4, 8, 7, 'Python', 1]

- **list.pop()** devuelve el último elemento de la lista.
- El elemento se elimina de la lista (de la pila). Imagina una pila de platos.
- Se puede especificar un índice **list.pop(idx)**

In [70]:
lst

[1, 1, 4, 8, 7, 'Python', 1]

In [71]:
lst.pop()

1

In [72]:
lst

[1, 1, 4, 8, 7, 'Python']

- Se puede eliminar un elemento en concreto con **list.remove(ele)**
- Se puede eliminar un elemento sabiendo el índice con del lst[posición].

In [73]:
lst = ['Python', 'rocks!']

In [74]:
lst.remove('Python')
print(lst)

['rocks!']

In [75]:
del lst[0]
print(lst)

[]

- Los elementos de la lista pueden ser dados la vuelta usando **list.reverse()**.
- Las nested list se tratan como un único elemento.

In [76]:
lst = list(range(10))
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [77]:
lst.reverse()
print(lst)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### Copia de listas

- IMPORTANTE: La asignación de una lista a una variable no implica la copia de la misma.
- Una variable es una referencia a la lista.
- Induce a errores al principio.

In [78]:
list_a = [2, 1, 4, 3] # Estamos guardando esta información en memoria
list_b = list_a # No estamos creando una copia. Apuntamos a la misma dirección de memoria

In [79]:
print(list_a)

[2, 1, 4, 3]

In [80]:
print(list_b)

[2, 1, 4, 3]

In [81]:
list_a[0] = 1

In [82]:
list_a

[1, 1, 4, 3]

In [83]:
list_b

[1, 1, 4, 3]

Ambas variables han cambiado porque hacen referencia a la misma lista

In [84]:
# realizamos operaciones el list_a
list_a.sort()
list_a.pop()
list_a.append(9)

In [85]:
print(f"A = {list_a}")
print(f"B = {list_b}")

A = [1, 1, 3, 9]
B = [1, 1, 3, 9]

- Ambas listas han cambiado.
- Las dos variables están asignadas al mismo espacio de la memoria.
- Si lo que quieres es crear una copia, debes usar un *slice* completo de la lista: **list_b = list_a[:]**

In [86]:
list_a = [2, 1, 4, 3]
list_b = list_a[:] # Hacemos una copia usando un slice desde el principio hasta el final

print("Starting with:")
print(f"A = {list_a}")
print(f"B = {list_b}")

list_a.sort()
list_a.pop()
list_a.append(9)

print("")
print("Finnished with:")
print(f"A = {list_a}")
print(f"B = {list_b}")

Starting with:
A = [2, 1, 4, 3]
B = [2, 1, 4, 3]

Finnished with:
A = [1, 2, 3, 9]
B = [2, 1, 4, 3]

Pasa exáctamente igual con las tuplas

## Tuples

- Las tuplas son como las listas, con la diferencia de ser inmutables.
- Los elementos de la tupla no pueden ser modificados.
- Piensa en situaciones donde los elementos no deben de ser cambiados (ej: resultados de una función).
- Para definirlas: **()** o **tuple**.
- En todo lo demás, es igual a las listas. Tiene los mismos métodos.

In [87]:
tup_1 = ()
tup_2 = tuple()

In [88]:
type(tup_1)

tuple

- Con una coma al final del objeto se genera también una tupla. No se suele usar. Es más que nada, para que tengáis cuidado.

In [89]:
27,

(27,)

- Si multiplicamos la expresión se crea una tupla con tantas veces ese valor.

In [90]:
2*(27,)

(27, 27)

- Podemos asignar valores como en las listas.

In [91]:
tup_3 = (1, 2, 3)
print(tup_3)

(1, 2, 3)

In [92]:
tup_4 = tuple([1, 2, 3]) # Convertimos una lista en una tupla
print(tup_4)

(1, 2, 3)

In [93]:
tup_5 = tuple('Hello')
print(tup_5)

('H', 'e', 'l', 'l', 'o')

- Sigue las mismas reglas de *indexing* y *slicing* que las listas.

In [94]:
print(tup_3[1])

2

In [95]:
tup_6 = tup_5[:3]
print(tup_6)

('H', 'e', 'l')

No se suelen declarar tuplas. Pero todas las funciones devuelven tuplas, por lo que debemos acostumbrarnos a ellas.

In [96]:
print(tup_6[0])

tup_6[0] = "W" # Las tuplas son inmutables, por lo que da un error si tratamos de modificarlas

H

TypeError: 'tuple' object does not support item assignment

- Las tuplas tienen las mismas funciones que las listas, menos los que sirven para modificar elementos.
- **tuple.count(ele)** cuenta el número de elementos **ele**.

In [97]:
d = tuple('a string with many "a"s')
d.count('a')

3

- **tuple.index(ele)** da el índice del elemento **ele**.

In [98]:
d.index('a')

0

### Mapping
- Lo vamos a usar, sobretodo, para asignar los valores que devuelva una función. Fuera de ahí, no es muy habitual.
- Tienen que tener la longitud correcta.

In [99]:
(a, b, c) = ('alpha', 'beta', 'gamma') # Usando tuplas
print(a,b,c)

a, b, c = 'alpha', 'beta', 'gamma' # Otra manera de hacerlo
print(a,b,c)

alpha beta gamma
alpha beta gamma

In [100]:
# Asignación con listas
a, b, c = ['Alpha', 'Beta', 'Gamma'] 
print(a, b, c)

# Es aceptable, pero no recomendado combinar listas y tuplas... 
[a, b, c] = ('this', 'is', 'ok') 
print(a, b, c)

Alpha Beta Gamma
this is ok

In [101]:
# El más usado
a, b, c = 'alpha', 'beta', 'gamma'

In [102]:
# podemos usar unpackings más complicados obteniendo todos los valores posibles
(w, (x, y), z)=(1,(2,3),4) # Una tupla que tiene dentro otra
print(w, x, y, z)

(w, xy, z)=(1, (2,3), 4)
print(w, xy, z) # Date cuenta de que xy es una tupla

1 2 3 4
1 (2, 3) 4

- Con *_ podemos obtener el primer elemento, el último o ambos.
- Muy útil para funciones que devuelven valores que no necesitamos.

In [103]:
a, b, c, d = 'alpha', 'beta', 'gamma', 'delta'
print(a, b, c, d)

alpha beta gamma delta

In [104]:
first, *_ = 'alpha', 'beta', 'gamma', 'delta' # la barra baja es el nombre de una variable que se suele usar para indicar "no me interesa"
print(first)

alpha

In [105]:
*_, last = 'alpha', 'beta', 'gamma', 'delta'
print(last)

delta

In [106]:
first, *_, last = 'alpha', 'beta', 'gamma', 'delta'
print(f'First: {first} Last: {last}')

First: alpha Last: delta

## Strings como listas o tuplas

- Los strings pueden ser tratados como listas o tuplas.

In [107]:
str_1 = 'Taj Mahal is beautiful'

In [108]:
# Lista de palabras
words = str_1.split() 
print(f"Words are: {words}")

Words are: ['Taj', 'Mahal', 'is', 'beautiful']

In [109]:
# Añade -- entre palabras 
print("--".join(words))

Taj--Mahal--is--beautiful

___

# Ejercicios

**1.4.1.** Construye una lista con 5 tickers de acciones españolas y llámala tickers

**1.4.2.** Asigna la lista del ejercicio anterior a new_tickers. Cambia un elemento de new_tickers por otro. ¿Qué le ocurre a tickers?.

**1.4.3.** Crea una lista con los números pares entre 1 al 100.

**1.4.4.** Crea una lista con los números impares entre 300 al 500.

**1.4.5.** Junta las dos últimas listas.

**1.4.6.** Construye una lista anidada que contenga la siguiente matriz:
\begin{bmatrix}
    1 & .5 \\
    .5 & 1
 \end{bmatrix}

**1.4.7.** Crea una lista que contenga los siguientes elementos:
- Rango de 1 a 10
- "En un lugar de la Mancha, de cuyo nombre no quiero acordarme"

**1.4.8.** Añade el número 11 al rango

**1.4.9.** Cambia el valor 5 por "hola"

**1.4.10.** Cuenta el número de vocales de la frase

**1.4.11.** Dale la vuelta a la frase y asígnala de nuevo

**1.4.12.** Extrae y elimina la frase de la lista