# Ejercicio 4 historico divisas Banco de España

### Consigue el histórico de las divisas de los últimos 60 días
### Recomendación: Banco de España  https://www.bde.es/webbde/es/estadis/infoest/tipos/tipos.html
### Tiempo objetivo: 30 minutos

     Euros
     Dólares de EEUU
     Francos Suizos
     Libras Esterlinas
     Coronas Suecas
     Coronas Noruegas
     Dólares de Hong Kong
     Dólares de Singapur
     Shequel Israelí
     Rupias Indonesias
     Pesos Mejicanos
     Reales Brasileños
     Peso Argentino

In [1]:
import pandas as pd
from datetime import datetime, date, timedelta
import numpy as np
import time
from pprint import pprint
import datetime

In [2]:
ventana=60
url="http://www.bde.es/webbde/es/estadis/infoest/series/tc_1_1.csv"

In [3]:
divisas=pd.read_csv(url, encoding = "ISO-8859-1") #https://stackoverflow.com/questions/18171739/unicodedecodeerror-when-reading-csv-file-in-pandas-with-python
divisas.columns=divisas.iloc[2,:] # Ponemos el encabezado más coherente.
divisas=divisas.iloc[3:divisas.shape[0],:] # Eliminamos las filas de títulos que no nos sirven.
divisas.rename(columns={'DESCRIPCIÓN DE LAS UNIDADES': 'date'}, inplace=True)

In [4]:
# Seleccionamos las divisas que nos interesan. No se dispone de los pesos Argentinos
divisas=divisas.iloc[:,[0,1,3,4,6,12,19,22,23,24,27]] # OJO. No tenemos todas las divisas que estamos buscando. Este sistema no nos vale al 100%
divisas.columns=("date","USD","CHF","GBP","SEK","NOK","BRL","HKD","SGD","IDR","MXN")

Las están con formato Español y los meses en texto.
Nos queremos quedar con las divisas que estén entre hoy y la ventana con la que trabajmos.

In [5]:
meses_texto=(" ENE", " FEB", " MAR", " ABR", " MAY", " JUN", " JUL", " AGO", " SEP", " OCT", " NOV", " DIC")
meses_dig=("/01/", "/02/", "/03/", "/04/", "/05/", "/06/", "/07/", "/08/", "/09/", "/10/", "/11/", "/12/")

In [6]:
for mes in range(12):
    divisas.date=divisas.date.str.replace(meses_texto[mes],meses_dig[mes])

## Error solucionado:

In [7]:
#Faltaban por eliminar las 2 primeras y ultimas filas
divisas= divisas.iloc[2:-2]

In [8]:
#Formato modificado para que concuerde con el de divisas
#Formato original:format='%d/%m/%Y' faltaba el espacio
divisas.date= pd.to_datetime(divisas.date, format='%d/%m/ %Y')# Convertimos el formato español a fecha internacional.

In [9]:
fecha_inicio = datetime.date.today()-timedelta(ventana)

In [10]:
fecha_fin = datetime.date.today()

In [11]:
divisas=divisas[divisas['date']>=pd.Timestamp(fecha_inicio)]
divisas=divisas[divisas['date']<=pd.Timestamp(fecha_fin)]

In [12]:
divisas.head(10)

,date,USD,CHF,GBP,SEK,NOK,BRL,HKD,SGD,IDR,MXN
5680,2020-10-05,1.1768,1.0781,0.90810,27.0960,10.4645,6.6568,9.1203,17324.6100,4.0243,25.2551
5681,2020-10-06,1.1795,1.0781,0.91058,27.0350,10.5138,6.5363,9.1412,17379.9300,4.0193,25.1631
5682,2020-10-07,1.1770,1.0787,0.91413,27.0640,10.4830,6.5448,9.1219,17359.5100,4.0044,25.2609
5683,2020-10-08,1.1765,1.0799,0.91035,27.0920,10.4468,6.5832,9.1181,17362.2000,3.9909,25.1418
5684,2020-10-09,1.1795,1.0773,0.91167,27.1100,10.4200,6.5796,9.1412,17340.0100,3.9859,25.0833
5685,2020-10-12,1.1799,1.0742,0.90598,27.1770,10.3933,6.5268,9.1443,17378.6900,3.9933,25.0730
5686,2020-10-13,1.1787,1.0734,0.90591,27.3560,10.3430,6.5389,9.1350,17403.2700,3.9895,25.0183
5687,2020-10-14,1.1750,1.0738,0.90395,27.3130,10.3653,6.5426,9.1063,17311.2800,3.9734,25.1075
5688,2020-10-15,1.1698,1.0697,0.90535,27.3400,10.3780,6.5942,9.0660,17278.4100,3.9734,25.1559
5689,2020-10-16,1.1741,1.0721,0.90915,27.2790,10.3593,6.6054,9.0993,17317.8600,3.9673,24.8720

### Otra manera de hacerlo

In [13]:
curr_list = ['Date','Dólares de Estados Unidos por Euro', 'Francos suizos por Euro', 'Libras esterlinas por Euro', 'Coronas suecas por Euro', 'Coronas noruegas por Euro',
             'Reales brasileños por Euro', 'Dólares de Hong Kong por Euro', 'Rupias indonesias por Euro', 'nuevos sheqalim israelíes por euro', 'Pesos mejicanos por Euro', 'Dólares de Singapur por Euro']

monthdic = {
    "ENE": "01 ",
    "FEB": "02 ",
    "MAR": "03 ",
    "ABR": "04 ",
    "MAY": "05 ",
    "JUN": "06 ",
    "JUL": "07 ",
    "AGO": "08 ",
    "SEP": "09 ",
    "OCT": "10 ",
    "NOV": "11 ",
    "DIC": "12 ",
}

url = 'http://www.bde.es/webbde/es/estadis/infoest/series/tc_1_1.csv'

currencies = pd.read_csv(url, encoding='ISO-8859-1')
currencies.columns = currencies.iloc[2]
currencies.rename(columns={currencies.columns[0]: "Date"}, inplace=True)

currencies = currencies.iloc[5:-2]
for key in monthdic:
    currencies['Date'] = currencies['Date'].str.replace(key, monthdic[key])

currencies['Date'] = pd.to_datetime(currencies['Date'], format='%d %m %Y')

Filtramos las fechas que nos interesan

In [14]:
ventana=60

fecha_inicio = datetime.date.today()-timedelta(ventana)
fecha_fin = datetime.date.today()
currencies=currencies[currencies['Date']>=pd.Timestamp(fecha_inicio)]
currencies=currencies[currencies['Date']<=pd.Timestamp(fecha_fin)]

Filtramos las divisas que nos interesan

In [15]:
currencies = currencies[currencies.columns.intersection(curr_list)]

In [16]:
currencies.head(10)

2          Date
5680 2020-10-05
5681 2020-10-06
5682 2020-10-07
5683 2020-10-08
5684 2020-10-09
5685 2020-10-12
5686 2020-10-13
5687 2020-10-14
5688 2020-10-15
5689 2020-10-16